{% extends "parent.html" %}

{% block head%}
<title>PlanMyLife</title>
{% endblock %}

{% block body%}
    <img src="https://images7.alphacoders.com/550/thumb-1920-550708.jpg" alt="Edit" class="img">
    <div class="edit">
    <header>
        <h2>PlanMyLife</h2>
    </header>
    <form action="/targets/edit/{{target.id}}" method="post">
        <input type="text" name="objective" value="{{target.objective}}" required>
        <input type="text" name="deadline" value="{{target.deadline}}" required>
        <input type="submit" value="Edit">
    </form>
    </div>
{% endblock %}